//P.S. I lnow about clamp(min, calc, max) :), but i dont know do you use it.

.content {
    max-width: 1114px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.content_title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.35em;
    font-size: 56px;

    h2 {
        line-height: 1.2em; //rem
        font-weight: 700;
        color: var(--white);
        text-transform: uppercase;

        p {
            margin-top: 9px;
            background: linear-gradient(45deg, #8B42AE 0%, #E12F47 53.08%, #E67011 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    @media screen and (max-width: 1280px) {
        font-size: calc(28px + (56 - 28) * ((100vw - 375px) / (1280 - 375)));
    }
}

.content_blink {
    position: absolute;
    right: 3%;
    bottom: 12%;
    max-width: 164px;
    width: 18vmin;
    max-height: 164px;
    height: 18vmin;
    margin-right: 5%;

    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #B8008E;
        filter: blur(75px); //150px
        border-radius: 50%;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        max-width: 101px;
        width: 12vmin;
        max-height: 101px;
        height: 12vmin;
        background: linear-gradient(183.92deg, rgba(254, 111, 147, 0.03) 4.35%, rgba(254, 111, 147, 0.9) 91.26%); //rgba(254, 111, 147, 0.6) 91.26%);
        // opacity: 0.8;
        box-shadow: inset 12.075px 12.075px 50.715px rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transform: rotate(-31deg);
        z-index: 9;
    }
}

.modules_wrap {
    margin-bottom: 175px;

    @media screen and (max-width: 1280px) {
        margin-bottom: 16vmin;
    }
}

.module {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &+.module {
        margin-top: 120px;
    }

    &:nth-child(odd) {

        .module_text {
            order: 1;
            margin-right: 16px;
        }
    }

    &:nth-child(even) {

        .module_text {
            order: 3;
            margin-left: 16px;
        }
    }

    @media screen and (max-width: 1280px) {
        &+.module {
            margin-top: 12vmin;
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;

        &+.module {
            margin-top: 12vmin;
        }

        &:nth-child(odd) {

            .module_text {
                order: 1;
                margin-right: 0;
            }
        }

        &:nth-child(even) {

            .module_text {
                order: 1;
                margin-left: 0;
            }
        }
    }
}

.module_with_blink {
    position: relative;

    .module_blink {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 432px;
        width: 32vmin;
        max-height: 432px;
        height: 32vmin;
        background: linear-gradient(183.92deg, rgba(254, 111, 147, 0.03) 4.35%, rgba(254, 111, 147, 0.9) 91.26%); //rgba(254, 111, 147, 0.6) 91.26%);
        // opacity: 0.8;
        box-shadow: inset 19.2116px 19.2116px 80.6887px rgba(255, 255, 255, 0.5);
        transform: rotate(149.01deg);
        border-radius: 50%;

        &:before {
            content: "";
            position: absolute;
            top: -22%;
            left: 26%;
            max-width: 164px;
            width: 18vmin;
            max-height: 164px;
            height: 18vmin;
            background: #B8008E;
            filter: blur(75px); //blur(150px)
            border-radius: 50%;
        }
    }
}

.module_img {
    order: 2;
    max-width: 632px;
    width: calc(70% - 16px);
    max-height: 340px;
    height: 37vmin;
    background: linear-gradient(45deg, #8B42AE 0%, #E12F47 53.08%, #E67011 100%);
    background-origin: border-box;
    border: 2px solid transparent;
    border-radius: 12px;
    text-transform: uppercase;
    box-shadow: inset 0 340px var(--gray);
    overflow: hidden;

    img {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @media screen and (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        height: 44vmin;
    }
}

.module_text:not(.module_text_no_image) {
    max-width: 300px;
    width: 30%;

    @media screen and (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        margin-right: 0;

        h3 {
            margin-bottom: 1em;
        }
    }
}

.module_text {

    h4 {
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 1.2em; //rem
        font-weight: 700;
        color: var(--red);
    }

    h3 {
        font-size: 36px;
        line-height: 1.2em; //rem
        font-weight: 700;
        color: var(--white);
    }

    @media screen and (max-width: 1280px) {
        h4 {
            margin-bottom: .8em;
            font-size: calc(18px + (28 - 18) * ((100vw - 375px) / (1280 - 375)));
        }

        h3 {
            font-size: calc(24px + (36 - 24) * ((100vw - 375px) / (1280 - 375)));
        }
    }

}

.module_text_no_image {
    max-width: 632px;
    z-index: 9;

    p {
        margin-top: 2.83em;
        font-size: 18px; //1rem
        line-height: 1.2em; //rem
        color: var(--gray);
    }

    @media screen and (max-width: 1280px) {
        p {
            font-size: 16px;
        }
    }
}

.social_module {
    display: flex;
    justify-content: space-between;
    gap: 20px 16px;

    &+.social_module {
        margin-top: 146px;
    }

    &.discord,
    &.youtube {
        align-items: center;
    }

    &.twitter {

        .social_module_img {
            margin-top: 6%;
            order: 2;

            @media screen and (max-width: 1280px) {
                width: 18%;
            }
        }
    }

    @media screen and (max-width: 1280px) {
        &+.social_module {
            margin-top: 10vmin;
        }
    }

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;

        &.twitter {

            .social_module_img {
                margin-top: 0;
                order: 0;
            }
        }
    }

}

.social_module_img {
    max-width: 189px;
    width: 30%;

    @media screen and (max-width: 768px) {
        max-width: 120px;
        width: 100%;
    }
}

.social_module_text_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px 16px;
    width: 70%;

    @media screen and (max-width: 1280px) {
        flex-wrap: wrap;
        width: 82%;

        .youtube &,
        .discord & {
            justify-content: flex-start;
        }
    }

    @media screen and (max-width: 992px) {
        .twitter & {
            justify-content: flex-start;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.social_module_text {

    .youtube & {
        max-width: 742px;
        width: 70%;
    }

    h4 {
        margin-bottom: 30px;
        font-size: 18px; //1rem
        line-height: 1.2em; //rem
        font-weight: 700;
        color: var(--white);
    }

    p {
        font-size: 18px; //1rem
        line-height: 1.2em; //rem
        color: var(--white);
    }

    @media screen and (max-width: 1280px) {
        h4 {
            margin-bottom: 1.5em;
            font-size: 16px; //1rem
        }

        p {
            font-size: 16px; //1rem
        }
    }
}
